<main class="aboutPage">
  <h2>About Us</h2>
  <img src = "https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/53894694_108728143622475_4548371560464908288_o.jpg?_nc_cat=100&_nc_oc=AQkH43JShLB2RRW1F0ZShUiZlnv5KYqzlVu7tYO2-2rGfW7lzqx93Qj8nCejL2jiWjM&_nc_ht=scontent-atl3-1.xx&oh=52f53f4d6b744e6e9d5d4e679ab86dea&oe=5D54ED52">
  <p>
    Phi Sigma Rho is a social sorority for wome in engineering and computer science. We are a supportive group of women who: are fun to make friends with, will encourage and help you in all aspects of your life, are good shoulders to lean on, and are there for you socially, academically, and emotionally. Some of the activities we participate in are socials, academic encouragement, philanthropy, and sisterhood events. We are open to all engineering majors and can't wait for you to join our sisterhood! If you're interested, please sign up on the homepage!
  </p>
  <ul>
    <li>Founded at Purdue University on Sept. 24, 1984</li>
    <li>Mascot: Sigmand the Penguin</li>
    <li>National Colors: Wine Red and Silver</li>
    <li>OSU's Sigma chapter was installed January of 2005</li>
  </ul>
  <p class = "national"> Check out our National website
    <a href= "http://www.phisigmarho.org"> here!</a>
  </p>
</main>
