<main class="aboutPage">
  <h2>About Us</h2>
  <img class = "mainAboutImage" src = "https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/53894694_108728143622475_4548371560464908288_o.jpg?_nc_cat=100&_nc_oc=AQkH43JShLB2RRW1F0ZShUiZlnv5KYqzlVu7tYO2-2rGfW7lzqx93Qj8nCejL2jiWjM&_nc_ht=scontent-atl3-1.xx&oh=52f53f4d6b744e6e9d5d4e679ab86dea&oe=5D54ED52">
  <div class="about-container">
    <h3> Who We Are: </h3>
      <p>
        We were founded at Purdue University on Sept. 24, 1984. OSU's Sigma chapter was installed January of 2005.
        Phi Sigma Rho is a social sorority for women in engineering and computer science.
      </p>
    <h3> Why You Should Join Phi Sigma Rho: </h3>
      <p>
      We are a supportive group of women who: are fun to make friends with, willing
      to encourage and help you in all aspects of your life, are good shoulders to
      lean on, and are there for you socially, academically, and emotionally.
    </p>
    <h3> Involvement: </h3>
      <p>
        Some of the activities we participate in are socials, academic encouragement,
        philanthropy, and sisterhood events. We are open to all engineering majors
        and can't wait for you to join our sisterhood! If you're interested, please
        sign up on the home page!
      </p>


        <div class="contain">
          <button type="button" class="btn motto"> Motto</button>
          <p> Together We Build the Future</p>
        </div>

        <div class= "contain">
          <button type="button" class="btn flower"> Flower</button>
          <p> Orchid </p>
        </div>

        <div class= "contain">
          <button type="button" class="btn motto"> Colors</button>
          <p> Wine Red and Silver </p>
        </div>

        <div class= "contain">
          <button type="button" class="btn flower"> Mascot</button>
          <p> Sigmand the Penguin </p>
        </div>

        <div class= "contain">
          <button type="button" class="btn motto"> Jewel</button>
          <p> Pearl </p>
        </div>




   <p class = "national"> Check out our National website
     <a href= "http://www.phisigmarho.org/" target= "_blank"> here!</a>
   </p>

   <div class="socials">
     <a href="https://www.facebook.com/PhiSigmaRhoOSU/" target= "_blank" class="fa fa-facebook"></a>
     <a href="https://www.instagram.com/phirholoveosu/" target= "_blank" class="fa fa-instagram"></a>
     <a href="mailto:psr.sigma.recruitment@gmail.com" class="fa fa-envelope"></a>
   </div>
 </div>

</main>
