<button type="button" id="add-photo-button"><i class="fas fa-heart"></i></button>

<div id="window-backdrop" class="hidden"></div>
<div id="add-photo-window" class="hidden">
  <div class="window-dialog">

    <div class="window-header">
      <h3>Add a Photo</h3>
      <button type="button" id="window-close" class="window-close-button">&times;</button>
    </div>

    <div class="window-body">
      <div class="photo-input-element">
          <label for="photo-url">Insert photo URL</label>
          <input type="text" id="photo-url">
      </div>
      <div class="photo-input-element">
          <label for="photo-caption">Caption your photo</label>
          <input type="text" id="photo-caption">
      </div>
    </div>

    <div class="window-footer">
      <button type="button" id="window-cancel" class="window-action-button">Cancel</button>
      <button type="button" id="window-accept" class="window-action-button">Add Photo</button>
    </div>

  </div>
</div>
