<main class="calendar">
  <div class = "month">
    <ul>
      <li>
        Month <br/>2019
      </li>
    </ul>
  </div>

  <ul class = "weekdays">
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
  </ul>

  <ul class = "days">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
  </ul>
</main>
