<header>

  <h1 class= "site-title"> Phi Sigma Rho Recruitment </h1>

  <div class= "navbar">
    <a href= "#homepage"> Home Page</a>
    <a href= "#aboutpage"> About Page</a>
    <div class= "dropdown">
      <button class= "dropbutton"> Photo Page
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#members"> Members with Positions</a>
        <a href="#potential"> Potential Bigs</a>
        <a href="#active"> Active Members</a>
      </div>
    </div>
    <div class= "message">
      Together we build the future...
    </div>
  </div>

</header>
