<div id="cookies-modal-backdrop" class="hidden"></div>
    <div id="cookies-open-modal" class="hidden">
      <div class="modal-text">

        <div class="modal-header">
          <h3>Cookies and Clubs</h3>
        <button type="button" id="modal-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="when">
              When: September 23rd
          </div>
          <div class="where">
            Where: Kelley Engineering Courtyard
          </div>
          <div class="what">
              What: Get to know us and check out other engineering clubs to get
              involved in!
          </div>
        </div>
    </div>
  </div>

  <div id="info-modal-backdrop" class="hidden"></div>
      <div id="info-open-modal" class="hidden">
        <div class="modal-text">

          <div class="modal-header">
            <h3>Info Night</h3>
          <button type="button" id="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="when">
                When: September 24th
            </div>
            <div class="where">
              Where: Kearney 212
            </div>
            <div class="what">
                What: Ask questions and play fun icebreaker games with your potential new sisters!
            </div>
          </div>
      </div>
    </div>
