<div id="cookies-modal-backdrop" class="hidden"></div>
    <div id="cookies-open-modal" class="hidden">
      <div class="modal-text">

        <div class="modal-header">
          <h3>Cookies and Clubs</h3>
        <button type="button" id="cookies-close-button">&times;</button>
      </div>

      <div class="modal-body">
        <div class="when">
              When: September 23rd
          </div>
          <div class="where">
            Where: Kelley Engineering Courtyard
          </div>
          <div class="what">
              What: Get to know us and check out other engineering clubs to get
              involved in!
          </div>
        </div>
    </div>
  </div>

  <div id="info-modal-backdrop" class="hidden"></div>
      <div id="info-open-modal" class="hidden">
        <div class="modal-text">

          <div class="modal-header">
            <h3>Info Night</h3>
          <button type="button" id="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="when">
                When: September 24th
            </div>
            <div class="where">
              Where: Kearney 212
            </div>
            <div class="what">
                What: Ask questions and play fun icebreaker games with your potential new sisters!
            </div>
          </div>
      </div>
    </div>

    <div id="mock-modal-backdrop" class="hidden"></div>
        <div id="mock-open-modal" class="hidden">
          <div class="modal-text">

            <div class="modal-header">
              <h3>Mocktails</h3>
            <button type="button" id="mock-close-button">&times;</button>
          </div>

          <div class="modal-body">
            <div class="when">
                  When: September 26th
              </div>
              <div class="where">
                Where: Kearney Atrium
              </div>
              <div class="what">
                  What: Come mingle while being provided with delicious snacks and beverages!
              </div>
            </div>
        </div>
      </div>

      <div id="pref-modal-backdrop" class="hidden"></div>
          <div id="pref-open-modal" class="hidden">
            <div class="modal-text">

              <div class="modal-header">
                <h3>Pref Night</h3>
              <button type="button" id="pref-close-button">&times;</button>
            </div>

            <div class="modal-body">
              <div class="when">
                    When: September 27th
                </div>
                <div class="where">
                  Where: Johnson 122
                </div>
                <div class="what">
                    What: We will get to know more about YOU! Come answer questions in an informal interview style.
                </div>
              </div>
          </div>
        </div>

        <div id="bid-modal-backdrop" class="hidden"></div>
            <div id="bid-open-modal" class="hidden">
              <div class="modal-text">

                <div class="modal-header">
                  <h3>Bid Day</h3>
                <button type="button" id="bid-close-button">&times;</button>
              </div>

              <div class="modal-body">
                <div class="when">
                      When: September 28th
                  </div>
                  <div class="where">
                    Where: Kelley 1003
                  </div>
                  <div class="what">
                      What: Come find out if you have been accepted into our sorority!
                  </div>
                </div>
            </div>
          </div>

          <div id="brunch-modal-backdrop" class="hidden"></div>
              <div id="brunch-open-modal" class="hidden">
                <div class="modal-text">

                  <div class="modal-header">
                    <h3>Brunch and Induction</h3>
                  <button type="button" id="brunch-close-button">&times;</button>
                </div>

                <div class="modal-body">
                  <div class="when">
                        When: September 29th
                    </div>
                    <div class="where">
                      Where: Kelley 1003
                    </div>
                    <div class="what">
                        What: Eat brunch with us and get inducted as a canidate into Phi Sigma Rho 
                    </div>
                  </div>
              </div>
            </div>
