<section class="photo-card">
      <div class="img-container">
        <img class="position-photo-img" src="{{url}}" />
      </div>
      <div class="caption">
        <a href="/active/{{@key}}">{{caption}}</a>
      </div>
    </section>
