<section class="photo-card">
  <div class="img-container">
    <img class="position-photo-img" src="{{url}}" />
  </div>
  <div class="caption">
    <a href="/people/{{@key}}" target= "_blank"> Register Here for Events </a>{{caption}}
  </div>
</section>
