<button type="button" id="create-register-button"><i class="fas fa-pencil-alt"></i></button>
<div id="register-backdrop" class="hidden"></div>
<div id="add-register-window" class="hidden">
  <div class="register-dialog">

    <div class="register-header">
      <h3>Add your Information</h3>
      <button type="button" id="register-close" class="register-hide-button">&times;</button>
    </div>

    <div class="register-body">
      <div class="register-input-element">
          <label for="name-enter">Name: </label>
          <input type="text" id="name-enter">
      </div>
      <div class="register-input-element">
          <label for="major-enter"> Major: </label>
          <input type="text" id="major-enter">
      </div>
      <div class="register-input-element">
          <label for="email-enter"> Email: </label>
          <input type="text" id="email-enter">
      </div>
      <div class="register-input-element">
          <label for="attend-enter"> Attending: </label>
          <input type="text" id="attend-enter">
      </div>
    </div>

    <div class="register-footer">
      <button type="button" id="register-cancel" class="register-hide-button register-action-button">Cancel</button>
      <button type="button" id="register-accept" class="register-action-button">Register</button>
    </div>

  </div>
</div>
