<section class="event-card">
  <div class="name">
    {{name}}
  </div>
  <div class="major">
      {{major}}
  </div>
  <div class="email">
      {{email}}
  </div>
  <div class="eventsComing">
      {{eventsComing}}
  </div>
</section>
