<section class="event-card">
  <div class="name">
    Name: {{name}}
  </div>
  <div class="major">
    Major: {{major}}
  </div>
  <div class="email">
    Email: {{email}}
  </div>
  <div class="eventsComing">
    Attending: {{eventsComing}}
  </div>
</section>
