ul {list-style-type: none;}

.month {
  padding: 5px 25px;
  overflow: hidden;
  background:#00b3b3;
  text-align: center;
}

.calendar{
  position: relative;
  top: 10px;
  margin: 40px;
}

.calTitle{
  text-align:center;
  font-size: 60px;
  padding: 10px;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #e6ffff;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  height: 40px;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: black;
  text-align: center;
  position: relative;
  top: 5px;
  font-size: 25px;
  font-weight: 500;
}

/* Days (1-30) */
.days {
  padding: 10px 0;
  background: #eee;
  height: 300px;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 30px;
  color: black;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 1px;
}

/* Highlight the event days */
.days li .event {
  padding: 5px;
  background: #00b3b3;
  color: #e6ffff !important;
}

.register{
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 10px;
  color: black;
}
