.socials{
  text-align: center;
  padding: 30px;
  margin: 50px;
}

.socials .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: #99ffcc;
  color: #00b3b3;
  position: relative;
  top: 200px;
  border: 1px solid #00b3b3;
}

.socials .fa:hover {
    opacity: 0.7;
}
